body {
    background-color: #f5f5f5;
    font-family: 'Inter', sans-serif;
    color: #212529;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* stack header above content */
}

.auth-box {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0.75rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    width: 80%;
    max-width: 420px;
}

.auth-page {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-control:focus {
    border-color: #171717;
    box-shadow: none;
}

.btn-dark:hover {
    background-color: #343a40 !important;
    cursor: pointer;
}

label {
    color: #374151
}

input::placeholder {
    color: #adaebc !important
}

p {
    color: #4b5563;
}

h1 {
    color: #111827;
}

a:hover {
    background-color: #fafafa !important;
    color: #374151 !important;
}